HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Directorios de compilación y empaquetado de Maven
/target/
/bin/

# Logs y Archivos Temporales
*.log
*.tmp

# Archivos de configuración de Eclipse
.classpath
.project
.settings/
*.iml
.sts4
.metadata

# Entornos y Seguridad
.env
